<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Html Generated</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Syne&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="styles.css">

  <style>
    /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
    body {
      background: #E5E5E5;
    }
  </style>

</head>

<body>
  <div class=e284_14>
    <div class="e253_85"></div>
    <div class="e284_3">
      <input  type="text" class="e284_3" placeholder=" Login">
    </div>
    <div class="e284_4"></div>
    <div class=e284_5>
      <div class="e284_6"></div><span class="e284_7">LOGIN</span>
    </div>
    <div class=e284_10>
      <div class="e284_11"></div><span class="e284_12">CADASTRO</span>
    </div>
  </div>
</body>

</html>